services:
  - type: web
    name: backboy
    env: python
    region: oregon
    plan: free
    build:
      pythonVersion: 3.11.8
    buildCommand: pip install -r requirements.txt
    startCommand: ./start.sh
    envVars:
      - key: PORT
        value: 10000
